
.header{
  background-color:lightgrey;
  font-family:serif;
  color:black;
  padding:30px;
  border-style:solid;
  border-width:3px;
  margin:0px
}

body{
  background-color:white;
  font-family:serif;
  color:#515152;
}
#adminForm{
  margin: 0
  padding: 0
  font-family: sans-serif;
  background-color: #A9E2F3;
}

.box{
  width: 200px;
  position: absolute;
  transform: translate(-50%, 50%);
  background: none;
  text-align: center;
  border: 2px solid black;
  padding: 5px;
}

.box input{
  border: 2px solid black;
}
