{% include 'nav.html'%}

<title>Admin Login Page</title>

<main class="container-fluid mt-3 pt-2 justify-content-center text-center bg-light">

<form id='adminForm' action='/admin' method = 'post'>
  <h1>LOGIN</h1>
  <input type = "text" name = "username" placeholder="Username" class="box"><br><br>
  <input type = "password" name = "password" placeholder="Password" class="box"><br><br>
  <button type = "submit" class="btn btn-outline-primary"> Log In </button><br>
</form>


</main>
{% include 'boostrap.html'%}
