{% include 'nav.html'%}
<head>
<title>Admin Login Page</title>
<main class="container-fluid mt-3 pt-2 justify-content-center text-center bg-light">
<link rel="stylesheet" href="/static/HighSherrifStyle.css">
</head>
<header>
<h1>Admin Login Page</h1>
</header>
<form id='adminForm' action='/admin' method = 'post'>
  <!-- <label>Surname:<input type = "text" name = "surname"><br></label> -->
  <label>Username:<br><input type = "text" name = "username"</label><br><br>
  <label>Password:<br><input type = "password" name = "password"</label><br><br>
  <button type = "submit" class="btn btn-outline-primary"> Log In </button>
</form>


</main>
{% include 'boostrap.html'%}
