{% include 'boostrap.html' %}
<head>
  <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/static/css/HighSherrifStyle.css">
  <title>Buttons</title>
</head>
<body>
  <div class="flexbox">
  <!-- Button for the moderator to access the Applicants List -->
  <button id='appListbtn' class='listbtn'>Applicants List</button><br><br>
  <!-- Button for the moderator to access the Test Questions List -->
  <button id='testListbtn' class='listbtn'>Questions List</button><br><br>
  <!-- Button for the moderator to access the Reworking Applicants List -->
  <button id='reworkListbtn'class='listbtn'>Reworking List</button><br><br>
  <!-- Button for the moderator to access the Donators List -->
  <button id='donateListbtn'class='listbtn'>Donators List</button><br><br>
  </div>
  <script src="/static/javascript/adminButtons.js"></script>
  <!-- Jquery is used to redirect to the list pages when the buttons are clicked -->
</body>
