<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <header>
          {% include 'nav.html'%}
      </header>
      <h1>Applications for funds</h1>
      <section>
          <h2>Apply through Reworking (Recommended)</h2>
          <a href="">Reworking.com</a>
      </section>
      <section>
          <h2>Apply using a form</h2>
          <form method="dialog">
              <label name="email">
                  Your Email:
                  <input type="text" name="email" /><br /><br />
              </label>
              <label name="firstname">
                  Your First Name:
                  <input type="text" name="firstname" /><br /><br />
              </label>
              <label name="lastname">
                  Last Name:
                  <input type="text" name="lastname" /><br /><br />
              </label>
              <label>
                  Reason for applying<br />
                  <textarea cols="100" rows="20" name="reason"></textarea><br /><br />
              </label>
              <label>
                  Tick here to agree to the term of services
                  <input id="termsBox" type="checkbox" name="terms" /><br /><br />
              </label>
              <label>
                  Tick here to confirm you are within the stated county
                  <input id="confirmBox" type="checkbox" name="confirm" /><br /><br />
              </label>
              <button onclick="validateForm()" type="submit">Submit</button>
          </form>
          <p id="error1">Please accept the terms and conditions</p>
          <p id="error2">You cannot apply for funding if you do not live within the stated county</p>
      </section>
  </body>
  <script>
      document.getElementById("error1").style.color = "red";
      document.getElementById("error2").style.color = "red";
      document.getElementById("error1").style.visibility = "hidden";
      document.getElementById("error2").style.visibility = "hidden";

      function validateForm() {
          var terms = document.getElementById("termsBox").checked;
          var confirm = document.getElementById("confirmBox").checked;
          if (terms == true && confirm == true) {
              document.getElementById("error1").style.visibility = "hidden";
              document.getElementById("error2").style.visibility = "hidden";
          } else if (terms == false) {
              document.getElementById("error1").style.visibility = "visible";
              document.getElementById("error2").style.visibility = "hidden";
          } else if (confirm == false) {
              document.getElementById("error1").style.visibility = "hidden";
              document.getElementById("error2").style.visibility = "visible";
          } else {
              document.getElementById("error1").style.visibility = "visible";
              document.getElementById("error2").style.visibility = "hidden";
          }
      }

  </script>
</html>
