<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  {% include 'boostrap.html'%}
  <body>
      <header>
          {% include 'nav.html'%}
      </header>
      <h1 class="container-fluid justify-content-center text-center">Applications for funds</h1>
      <section class="container-fluid bg-light pt-2 justify-content-center text-center">
          <h2>Apply through Reworking (Recommended)</h2>
          <a href="">Reworking.com</a>
      </section>
      <section class="container-fluid mt-3 pt-2 justify-content-center text-center bg-light">
          <h2>Apply using a form</h2>
          <form method="post" action="/submitApplication" onsubmit="return validateForm()">
            <div class="mb-3 mt-3">
              <label name="email">
                  Your Email:<br />
                  <input id="atEmail" type="text" name="email" />
              </label>
            </div>
            <div class="mb-3 mt-3">
              <label name="firstname">
                  Your First Name:<br />
                  <input id="atFirstname" type="text" name="firstname" />
              </label>
            </div>
            <div class="mb-3 mt-3">
              <label name="lastname">
                  Last Name:<br />
                  <input id="atLastname" type="text" name="lastname" />
              </label>
            </div>
            <div class="mb-3 mt-3">
              <label>
                  Reason for applying<br />
                  <textarea id="atReason" cols="100" rows="20" name="reason"></textarea>
              </label>
            </div>
            <div class="mb-3 mt-3">
              <label>
                  Tick here to agree to the <a href="">Term of Services</a>:  <!-- Insert link to terms of service here-->
                  <input id="termsBox" type="checkbox" name="terms" />
              </label>
            </div>
            <div class="mb-3 mt-3">
              <label>
                  Tick here to confirm you are within the stated county: 
                  <input id="confirmBox" type="checkbox" name="confirm" />
              </label>
            </div>
              <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
          <p id="error1">Please accept the terms and conditions</p>
          <p id="error2">You cannot apply for funding if you do not live within the stated county</p>
      </section>
      <span id='txt'></span>
  </body>
  <script>
      document.getElementById("error1").style.color = "red";
      document.getElementById("error2").style.color = "red";
      document.getElementById("error1").style.visibility = "hidden";
      document.getElementById("error2").style.visibility = "hidden";

      function validateForm() {
          var terms = document.getElementById("termsBox").checked;
          var confirm = document.getElementById("confirmBox").checked;
          if (terms == true && confirm == true) {
              document.getElementById("error1").style.visibility = "hidden";
              document.getElementById("error2").style.visibility = "hidden";
              return true
          } else if (terms == false) {
              document.getElementById("error1").style.visibility = "visible";
              document.getElementById("error2").style.visibility = "hidden";
              return false
          } else if (confirm == false) {
              document.getElementById("error1").style.visibility = "hidden";
              document.getElementById("error2").style.visibility = "visible";
              return false
          } else {
              document.getElementById("error1").style.visibility = "visible";
              document.getElementById("error2").style.visibility = "hidden";
              return false
          }
      }

  </script>
</html>
