<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  {% include 'boostrap.html'%}
  <body>
      <header>
          {% include 'nav.html'%}
      </header>
      <h1>Applications for funds</h1>
      <section>
          <h2>Apply through Reworking (Recommended)</h2>
          <a href="">Reworking.com</a>
      </section>
      <section>
          <h2>Apply using a form</h2>
          <form method="post" action="/submitApplication" onsubmit="return validateForm()">
              <label name="email">
                  Your Email:
                  <input id="atEmail" type="text" name="email" /><br /><br />
              </label>
              <label name="firstname">
                  Your First Name:
                  <input id="atFirstname" type="text" name="firstname" /><br /><br />
              </label>
              <label name="lastname">
                  Last Name:
                  <input id="atLastname" type="text" name="lastname" /><br /><br />
              </label>
              <label>
                  Reason for applying<br />
                  <textarea id="atReason" cols="100" rows="20" name="reason"></textarea><br /><br />
              </label>
              <label>
                  Tick here to agree to the term of services
                  <input id="termsBox" type="checkbox" name="terms" /><br /><br />
              </label>
              <label>
                  Tick here to confirm you are within the stated county
                  <input id="confirmBox" type="checkbox" name="confirm" /><br /><br />
              </label>
              <button type="submit">Submit</button>
          </form>
          <p id="error1">Please accept the terms and conditions</p>
          <p id="error2">You cannot apply for funding if you do not live within the stated county</p>
      </section>
      <span id='txt'></span>
      <script>
      function loadApplicants() {
        var firstName = document.forms["applyForm"]["firstname"].value;
        var lastName = document.forms["applyForm"]["lastname"].value;
        var email = document.forms["applyForm"]["email"].value;
        var reason = document.forms["applyForm"]["reason"].value;
        params = 'firstname='+firstName+'&lastname='+lastName+'&email='+email+'&reason='+reason;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Application', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onload = function() {
          if (xhttp.readyState === 4 && xhttp.status === 200) {
            console.log(xhttp.responseText);
            document.getElementById("txt").innerHTML = xhttp.responseText;
          } else {
            console.error(xhttp.statusText);
          }
        };
        xhttp.send(params);
        return false;
      }

    </script>
  </body>
  <script>
      document.getElementById("error1").style.color = "red";
      document.getElementById("error2").style.color = "red";
      document.getElementById("error1").style.visibility = "hidden";
      document.getElementById("error2").style.visibility = "hidden";

      function validateForm() {
          var terms = document.getElementById("termsBox").checked;
          var confirm = document.getElementById("confirmBox").checked;
          if (terms == true && confirm == true) {
              document.getElementById("error1").style.visibility = "hidden";
              document.getElementById("error2").style.visibility = "hidden";
              return true
          } else if (terms == false) {
              document.getElementById("error1").style.visibility = "visible";
              document.getElementById("error2").style.visibility = "hidden";
              return false
          } else if (confirm == false) {
              document.getElementById("error1").style.visibility = "hidden";
              document.getElementById("error2").style.visibility = "visible";
              return false
          } else {
              document.getElementById("error1").style.visibility = "visible";
              document.getElementById("error2").style.visibility = "hidden";
              return false
          }
      }

  </script>
</html>
