{% include 'nav.html' %}<br>
{% include 'boostrap.html' %}


<html>
<head>

    </style>
</head>
<body class="navBarPadding">


    <button onclick="firstcharity()">Oxfam</button>
    <button onclick="secondCharity()">Cancer Research Uk</button>
    <button onclick="thirdcharity()"> Direct Relief </button>
    <button onclick="fourthcharity()">British Red Cross </button>
    <button onclick="fifthcharity()"> Save the Children</button>

    <div id="Oxfam">
        <br>
        <i>
            Oxfam was established on the 5th October 1942, Oxfam aims to help the alleviation of global poverty.<br> Oxfam has helped over 11 million people by providing both life-saving and life changing
            support.
    </div>

    <div id="Cancer">
        <br>
        <i> Cancer Research UK helps fund nurses, scientists and doctors to help beat cancer sooner.<br> Cancer research uk is the worlds largest independant cancer research charity.
    </div>

    <div id="Direct">
        <br>
        <i> Direct relief is a nonprofit humanitarian organization that provides emergency medical assistance and disaster relief.<br> This is a very succesful charity with 99.4% of funds going straight to the program.
    </div>

    <div id="British">
        <br>
        <i> British Red Cross was formed in 1870 it is a registered charity with over 32,500 volunteers and 3500 staffs.<br>The Red cross is a respected and very succesful charity which is reflected on the amount Nobel prizes it has won.
    </div>

    <div id="Save">
        <br>
        <i> Save the children established in 1919 aims to better education, health care, and economic opportunities,<br>as well as provide emergency aid in natrual disaster, war and other conflict.
    </div>



    <script src="/static/javascript/chararitiesButtons.js"></script>

</body>
</html>
