<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
  </head>

  {% include 'boostrap.html'%}

  <body>
      <header>
        {% include 'nav.html'%}
      </header>
      <main>
        <section class="container-fluid mt-3 pt-2 justify-content-center text-center bg-light">
        <! ––  {% include 'ContactInfo.html'%} __>
        </section>

        <section class= "form-center">
          <form action=" " method="get">
           <label for= "Name">Name<br>
           <input type ="text" maxlength="20" id="ContactName" name="Name" value=""/>
           </label><br><br>
           <label for="Email">E-Mail<br>
           <input id="ContactEmail" maxlength="30" type="text" value=""/>
           </label><br><br>
           <label for="Query">How can we help?<br>
           <input type="text" id="Query" name="Query" style="width:500px;height:150px" value=""/>
           </label><br><br>

           <button type="Submit" name="SubmitTicket"> Submit</button>
           </form>
        </section>
      </main>
      <footer>

      </footer>
  </body>
</html>
