    {% include 'boostrap.html'%}
    {% include 'nav.html' %}
<!-- I have added the Application, donatation, and nav page -->

       <section class= "text-center mt-3 navBarPadding">
        <h1>Payment Information</h1>
         <form action="/submitpayment" method="post">
          <label for= "Amount">Amount<br>
          <input type ="text" oninput= "numberOnlyAmount(this.id);" maxlength="15" id="digits_number" name="amount"/>
          </label><br>
          <label for="name">Name<br>
          <input id="name" maxlength="30" type="text" name = "username"/>
          </label><br>
          <label for="cardnumber">Card number<br>
          <input type="text" oninput="numberOnly(this.id);" maxlength="16" id="flight_number" name="cardnumber"/>
          </label><br>
          <label for="Expiry Date">Expiry Date(mm/yy)<br>
          <input type="month" maxlength="4" id="flight_number" name="Expirydate"/>
          </label><br>
          <lable for ="securitycode">Security Code<br>
          <input type="text" oninput="numberOnly(this.id);" maxlength="3" id="numeric_number" name="security"/>
          </lable><br>

          <button type="Submit" name="Makepayment" value="Submit"> Submit</button>
          </form>
       </section>

       <script src="/static/javascript/donationValidation.js"></script>
