{% block generateButtons %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Jquery-->
</head>
<script>
    applicants = [];
    $(document).ready(function () {
        $('#applicantTable tr').each(function () {
            $(this).find('td:contains("None")').each(function () {
                console.log(this);
                $(this).append("<button>Accept</button>")
                $(this).append("<button>Decline</button>")
            })
        })
    });
</script>
{% endblock %}