<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>

  <link rel="stylesheet" type="text/css" href="HighSherrifStyle.css">

  <body>
      <header>
          <nav>
              <a href="">Information Page</a>
          </nav>
      </header>

      <main>

        <section>
          <h2>About our page</h2>

          <p> <p>

        </section>


          <section>
              <h2>High Sherif</h2>
              {%if data%}
              {{data}}
              {%endif%}
          </section>

      </main>
      <footer>

      </footer>
  </body>
</html>
