<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
  </head>

  {% include 'boostrap.html'%}

  <body>
      <header>
        {% include 'nav.html'%}
      </header>
      <main>
        <section class="container-fluid mt-3 pt-2 justify-content-center text-center bg-light">
          <h2>About our page</h2>
          <p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
          <p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
          <p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
          <p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
          <p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
        </section>


          <section class="container-fluid mt-3 pt-2 justify-content-center text-center bg-light">
              <h2>High Sherif</h2>
              {%if data%}
              {{data}}
              {%endif%}
          </section>

      </main>
      <footer>

      </footer>
  </body>
</html>
