<!DOCTYPE html>
<head>
<title>Applicants List</title>
</head>

<body>
  <header>
    {% include 'nav.html'%}
  </header>
<h1>Applicants List</h1>
<table border = 1 method = "POST" name = "myTable">
   <thead>
      <td>ID</td>
      <td>Firstname</td>
      <td>Surname</td>
      <td>Amount</td>
      <td>Email</td>
      <td>Reason</td>
   </thead>

   {% for row in data %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td><input type="submit" name="accept" id="accept" value = "Accept">
             <input type="submit" name="decline" id="decline" value = "Decline"></td>
      </tr>
   {% endfor %}
</table>
</body>
