{% include 'boostrap.html'%}
{% include 'dropdown.html'%}
<link rel="stylesheet" href="/static/HighSherrifStyle.css">
<title>Applicants List</title>
<h1>Applicants</h1>

<body>
    <section class="container text-center">
        <h2>Old-Style Applicants</h2>
        <table class="container table" id="applicantTable" border=1 method="POST" name="myTable">
            <thead>
            <td>ID</td>
            <td>Firstname</td>
            <td>Surname</td>
            <td>Amount</td>
            <td>Email</td>
            <td>Reason</td>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="container text-center">
        <h3>Accept or Decline Application</h3>
        <p id="modMsg">There are currently no applications that need moderation</p>
        <table id='waitTable' class='table'>
            <thead>
            <td>ID</td>
            <td>Firstname</td>
            <td>Surname</td>
            <td>Amount</td>
            <td>Email</td>
            <td>Reason</td>
            </thead>
            <tbody id='requestedTable'>
                <!--Its meant to be empty and jquery adds data to it-->
            </tbody>
        </table>
    </section>
    {% include 'generateButtons.html'%}
</body>
