<title>Applicants List</title>
<h1>Applicants List</h1>
<table border = 1>
   <thead>
      <td>ID</td>
      <td>First Name</td>
      <td>Sur name</td>
      <td>Amount</td>
      <td>Email</td>
      <td>Reason</td>
   </thead>

   {% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
      </tr>
   {% endfor %}
</table>
