{% include 'boostrap.html'%}
<head>
<link rel="stylesheet" href="/static/HighSherrifStyle.css">
<script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>Questions List</title>
<h1>Questions</h1>
</head>
<body>
  <section>
    <table class="table table-striped" id="list" border=1>
    <thead>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
    </thead>
    {% for row in data %}
    <tr>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
    </tr>
    {% endfor %}
    </table>
  </section>
  <div>
    <h4>Want to add or delete questions from the list?</h4>
    <button type ="submit" name ="addQ" id="btnAdd">Add Questions</button>
    <button type ="submit" name ="deleteQ" id = "btnDelete">Delete Questions</button>
  </div>
  <br>
  <form id="addForm" method='POST' action ='/addTest'>
    <label>Please enter the question you want to add here:</label><br>
    <input type ="text" id="add" name ="add" placeholder="Question"><br>
    <label>Please select the correct answer for the question:</label><br>
    <input type="radio" name="option" value=" Yes">Yes</input><br>
    <input type="radio" name="option" value=" No">No</input><br>
    <button type="submit" id='subAdd'>Add</button>
  </form>

  <form id="deleteForm" method='POST' action = '/deleteTest'>
    <label>Please enter the question ID you want to delete here:</label><br>
    <input type ="number" id="delete" name="delete" placeholder="ID">
    <button type="submit" id='subDelete'>Delete</button>
  </form>
  <script>
    $(document).ready(function(){
      $('#list').show();
      $('#addForm').hide();
      $('#btnAdd').click(function(){
        $('#addForm').toggle()
      });
      $('#deleteForm').hide();
      $('#btnDelete').click(function(){
        $('#deleteForm').toggle()
      });
    })
  </script>
  </body>
