{% block nav %}
<link rel="stylesheet" href="/static/HighSherrifStyle.css">
<nav class="navbar-dark navbar-expand-sm bg-primary justify-content-center text-center pt-2">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/SheriffPage">The High Sheriff</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Application">Application</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Charities">Charities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Donations"> Donations</a>
    </li>
  </ul>
</nav>
{% endblock %}
