<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Questions List</title>
  </head>
  <!-- {% include 'boostrap.html'%} -->
  <body>
    <header>
        <!-- {% include 'nav.html'%} -->
        <h1>Questions List</h1>
    </header>
    <div>
      <button type ="submit" name ="addQ" id="addQ">Add Questions</button>
      <button type ="submit" name ="deleteQ" id = "deleteQ">Delete Questions</button>
    </div>

    <form id="addForm">
      <label>Please enter the question here:</label>
      <input type ="text">
    </form>

    <script>
      $(document).ready(function(){
        $('#addForm').hide();
        $('#addQ').click(function(){
          $('#addForm').show()
        })
      });
    </script>
  </body>
