{% block questions %}
<head>
  <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Questions List</title>
</head>
<!-- {% include 'boostrap.html'%} -->
<body>
  <header>
      <!-- {% include 'nav.html'%} -->
      <h3>Questions List</h3>
  </header>
  <div>
    <button type ="submit" name ="addQ" id="btnAdd">Add Questions</button>
    <button type ="submit" name ="deleteQ" id = "btnDelete">Delete Questions</button>
  </div>

  <form id="addForm" method='POST' action ='/addQuestion'>
    <input type ="text" id="question" name ="question" placeholder="Please enter the question here">
    <button type="submit">Add</button>
  </form>

  <form id="deleteForm" method='POST' action = '/deleteQuestion'>
    <input type ="number" id="delete" name="delete" placeholder="Please enter the question ID you want to delete here">
    <button type="submit">Delete</button>
  </form>


  <script>
    $(document).ready(function(){
      $('#addForm').hide();
      $('#btnAdd').click(function(){
        $('#addForm').toggle()
      });
      $('#deleteForm').hide();
      $('#btnDelete').click(function(){
        $('#deleteForm').toggle()
      });
    })
  </script>
</body>
{% endblock %}
