{% include 'boostrap.html'%}
<head>
<link rel="stylesheet" href="/static/HighSherrifStyle.css">
<script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>Questions List</title>
<h1>Questions</h1>
</head>
<body>
  <section>
    {% for row in data %}
    <table class="table table-striped" id="list" border=1>
    <thead>
      <th>ID</th>
      <th>Questions</th>
    </thead>
    <tr>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
    </tr>
    </table>
    {% endfor %}
  </section>
  <div>
    <p>Want to add or delete questions from the list?</p>
    <button type ="submit" name ="addQ" id="btnAdd">Add Questions</button>
    <button type ="submit" name ="deleteQ" id = "btnDelete">Delete Questions</button>
  </div>

  <form id="addForm" method='POST' action ='/addQuestion'>
    <input type ="text" id="question" name ="question" placeholder="Please enter the question here">
    <button type="submit">Add</button>
  </form>

  <form id="deleteForm" method='POST' action = '/deleteQuestion'>
    <input type ="number" id="delete" name="delete" placeholder="Please enter the question ID you want to delete here">
    <button type="submit">Delete</button>
  </form>


  <script>
    $(document).ready(function(){
      $('#addForm').hide();
      $('#btnAdd').click(function(){
        $('#addForm').toggle()
      });
      $('#deleteForm').hide();
      $('#btnDelete').click(function(){
        $('#deleteForm').toggle()
      });
      $('#list').hide();
      $('#btnSee').click(function(){
        $('#list').show()
      });
    })
  </script>
</body>
