<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reworking Tests</title>
  </head>
  {% include 'boostrap.html'%}
  <body>
    <header>
        {% include 'nav.html'%}
    </header>

    <section>
      <h1>Reworking Tests Form</h1>
      {% for row in data %}
      <form>
        <tr>{{row[0]}}&nbsp;{{row[1]}}</tr><br>
        <input type="radio" name="option" value="Yes"> Yes</input><br>
        <input type="radio" name="option" value="No"> No</input><br>
      </form>
      {% endfor %}
      <br><button type="submit" name="Testbtn">Submit</button>
    </section>
