<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reworking Tests</title>
  </head>
  {% include 'boostrap.html'%}
  <body>
    <header>
        {% include 'nav.html'%}
    </header>

    <section>
      <!-- This form allow the applicants to take the test -->
      <h1>Reworking Tests Form</h1>
      {% for row in data %}
      <form>
        <tr>{{row[0]}}</tr><br>
        <input type="radio" name="option" value="Yes"> Yes</input><br>
        <input type="radio" name="option" value="No"> No</input><br>
      </form>
      {% endfor %}
      <br><button type="submit" name="Testbtn">Submit</button>
      <!-- I haven't figured out how to store this into database yet... -->
      <!-- Probably using Jinja to show the test questions out is not a good way... -->
      <!-- Also it had to store together with the video... -->
      <!-- May need some help with this -->
    </section>
