{%block sherrif%}
<link rel="stylesheet" href="/static/css/HighSherrifStyle.css">

<article style="padding: 50px;" class="gridContainer">
<h2 class="item123">About the High Sheriff</h2>
<h3 class="item123 highSheriffAnimation1">There have been High Sheriffs for at least 1,000 years...</h3>
<div class="item123 border highSheriffAnimation2">
  <img id="logo" src="static/pictures/logo.png" alt="logo"></img>
<h4 class="text-left">The office of the High Sheriff</h4>

<p class="text-left">
High Sheriffs had extensive powers.
They could raise the 'hue and cry' after
criminals in the County and could summon
and command the 'posse comitatus', the
full military force of the County.
Sheriffs are mentioned in 27 of the 63 clauses of Magna
Carta of 1215 and were clearly fundamental to the running
of the Shires. From about 1300 their powers began to
wane as more and more functions were centralised.
Their surviving powers were codified in the Sheriffs Act
of 1887.</p>
</div>

<div class="item123 card highSheriffAnimation2">
<h4 class="text-left">The current role of High Sheriff</h4>

<p class="text-left">The Office of High Sheriff is an independent non-political
Royal appointment for a single year. Today, there are 55
High Sheriffs serving the Counties of England and Wales.
Their duties include attendance at royal visits in the County
and support for Her Majesty's High Court Judges when on
Circuit. They give active support and encouragement to the
police and to the emergency services, to the probation and
prison services and to other agencies involved with crime
prevention, particularly among young people.
Under the Criminal Law Act 1826, High Sheriffs present
awards to people assisting the apprehension of offenders.
They can act as Returning Officers for parliamentary
elections in some counties.</p>

<p class="text-left">High Sheriffs play an increasingly active role in promoting
a wide range of voluntary work within their communities,
together with encouraging and participating in projects
designed to reduce crime.
As the Office of High Sheriff is independent and non-political,
they are therefore very well placed to bring together a wide
range of people within the community they serve.
High Sheriffs receive no remuneration. </p>
</div>

<div class="item123 border highSheriffAnimation2">
  <img class="image" id="role" src="static/pictures/role.jpg" alt="role"></img>
<h4 class="text-left">Summary of the High Sheriff's role today</h4>

<ul class="list-left">

  <li>To uphold and enhance the ancient Office of High
Sheriff and to make a meaningful contribution to
the High Sheriff's County during the year of Office.
  </li>

  <li>To lend active support to the principal organs of the
Constitution within their county- the Royal Family,
the Judiciary, the Police and other law-enforcement
agencies, the emergency services, local authorities,
and all recognised church and faith groups.
  </li>

  <li>To ensure the welfare of visiting High Court Judges;
to attend on them at Court and to offer them
hospitality.
  </li>

  <li>To support the Lord-Lieutenant on royal visits and
on other occasions as appropriate.
  </li>

  <li>To take an active part in supporting and promoting
voluntary organisations within a County.
  </li>
</div>
<br>

<div class="item123 bg-light border highSheriffAnimation2">
<img class="image" id="currentHS" src="static/pictures/currentHighSheriff.jpg" alt="currentHS"></img>
<h4 class="text-left">Who is the current High Sheriff of Gwent?</h4>
<p class="text-left">Phillip Alderman, the current High Sheriff of Gwent, has lived
  in Gwent since 1994. Born in the mining village of Cilfynydd in Glamorgan (now Rhondda-Cynon-Tâf),
  he studied Medicine at the University of Bristol before commencing his surgical training and
  returning to his native South Wales in 1988 to complete his training as an Orthopaedic surgeon.
  Phillip was appointed as a Consultant Orthopaedic and Trauma surgeon at the Royal Gwent Hospital in
  1994 and served the people of Gwent until he retired from the NHS on 31st December 2020 in preparation
  for his year as High Sheriff.</p>
<p class="text-left">For 17 seasons he was Hon. Surgeon to Newport RFC and Newport Gwent Dragons. He also
  serves as a governor of the Haberdashers Schools in Monmouth. He is married to Fiona and they have 4 children
  and 3 grandchildren.</p>
</div>
</article>

{%endblock%}
