{% extends "base.html" %}


{%block content%}

<h2>About the High Sherrif</h2>
<p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
<p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
<p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
<p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>
<p class="text-left">placeholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumloremplaceholderipsumlorem</p>

{%endblock%}
