{%block sherrif%}

<h2 style = "padding:20px">About the High Sheriff</h2>

<h4 class="text-left">The office of the High Sheriff</h4>

<p class="text-left">There have been High Sheriffs for at least
1,000 years.
High Sheriffs had extensive powers.
They could raise the 'hue and cry' after
criminals in the County and could summon
and command the 'posse comitatus', the
full military force of the County.
Sheriffs are mentioned in 27 of the 63 clauses of Magna
Carta of 1215 and were clearly fundamental to the running
of the Shires. From about 1300 their powers began to
wane as more and more functions were centralised.
Their surviving powers were codified in the Sheriffs Act
of 1887.</p>

<h4 class="text-left">The current role of High Sheriff</h4>

<p class="text-left">The Office of High Sheriff is an independent non-political
Royal appointment for a single year. Today, there are 55
High Sheriffs serving the Counties of England and Wales.
Their duties include attendance at royal visits in the County
and support for Her Majesty's High Court Judges when on
Circuit. They give active support and encouragement to the
police and to the emergency services, to the probation and
prison services and to other agencies involved with crime
prevention, particularly among young people.
Under the Criminal Law Act 1826, High Sheriffs present
awards to people assisting the apprehension of offenders.
They can act as Returning Officers for parliamentary
elections in some counties.</p>

<p class="text-left">High Sheriffs play an increasingly active role in promoting
a wide range of voluntary work within their communities,
together with encouraging and participating in projects
designed to reduce crime.
As the Office of High Sheriff is independent and non-political,
they are therefore very well placed to bring together a wide
range of people within the community they serve.
High Sheriffs receive no remuneration. </p>

<h4 class="text-left">Summary of the High Sheriff's role today</h4>

{%endblock%}
