{% block about %}
<link rel="stylesheet" href="/static/HighSherrifStyle.css">
<h2>The Gwent High Sheriffs’ Community Fund</h2>
<img class="image" id="group" src="static/group.jpg" alt="group"></img><br>

<p>The Gwent High Sheriffs’ Community Fund aims to provide a safer and better quality of life for the
people of Gwent by supporting community-based initiatives and projects for young people that help
reduce crime and anti-social behaviour.
Grants will be awarded at the annual participatory grant-making event in February 2022.</p>

<h4 class="text-left">What kind of projects will be supported?</h4>
<p class="text-left">To be successful, projects must demonstrate how their activities contribute to one or more of the
following:</p>

<img class="image" id="young" src="static/youngpeople.jpg" alt="youngpeople"></img><br>
<ul class="list-left">

  <li>providing support to young people that is relevant to them and the challenges they face in the
2020s, including establishing safe and secure digital behaviour by helping them to understand
the risks and dangers of social media and the internet;
  </li>

  <li>addressing the impact and continuing challenges of COVID for young people;
    </li>

  <li>working with young people to raise awareness of the impact and consequences of crime,
    including vandalism, criminal damage, misuse of alcohol and drugs or substance abuse, anti-social behaviour and cyberbullying;
    </li>

  <li>reducing crime and anti-social behaviour by creating opportunities for young people who
might be both perpetrators and victims of crimes such as street-based abuse, vandalism and
cyberbullying;
  </li>

  <li>targeting the underlying causes of crime and addressing the problems which drive young
people to offend;
  </li>

  <li>engaging young people in positive activities which provide greater social support, positive role
models and other protective factors to help them develop into good citizens of the future;
  </li>

  <li>and engaging young people in positive activities which provide greater social support, positive role
models and other protective factors to help them develop into good citizens of the future;
  </li>



{% endblock %}
