{% block about %}
<link rel="stylesheet" href="/static/HighSherrifStyle.css">
<h2>The Gwent High Sheriffs’ Community Fund</h2>
<img class="image" id="group" src="static/group.jpg" alt="group"></img><br>

<p>The Gwent High Sheriffs’ Community Fund aims to provide a safer and better quality of life for the
people of Gwent by supporting community-based initiatives and projects for young people that help
reduce crime and anti-social behaviour.
Grants will be awarded at the annual participatory grant-making event in February 2022.</p>

<h4 class="text-left">What kind of projects will be supported?</h4>
<p class="text-left">To be successful, projects must demonstrate how their activities contribute to one or more of the
following:</p>

<img class="image" id="young" src="static/youngpeople.jpg" alt="youngpeople"></img><br>
<ul class="list-left">

  <li>providing support to young people that is relevant to them and the challenges they face in the
2020s, including establishing safe and secure digital behaviour by helping them to understand
the risks and dangers of social media and the internet;
  </li>

  <li>addressing the impact and continuing challenges of COVID for young people;
    </li>

  <li>working with young people to raise awareness of the impact and consequences of crime,
    including vandalism, criminal damage, misuse of alcohol and drugs or substance abuse, anti-social behaviour and cyberbullying;
    </li>

  <li>reducing crime and anti-social behaviour by creating opportunities for young people who
might be both perpetrators and victims of crimes such as street-based abuse, vandalism and
cyberbullying;
  </li>

  <li>targeting the underlying causes of crime and addressing the problems which drive young
people to offend;
  </li>

  <li>engaging young people in positive activities which provide greater social support, positive role
models and other protective factors to help them develop into good citizens of the future;
  </li>

  <li>and engaging young people in positive activities which provide greater social support, positive role
models and other protective factors to help them develop into good citizens of the future;
  </li>
  </ul>
<br>
<br>
<h2>Grants Available</h2><br>

<img class="image" id="grants" src="static/grants.png" alt="grants"></img>
<h4 class="text-left">Grants for 1 year</h4>
<p class="text-left">Groups are invited to apply for grants of up to £5,000 to
  spend in 2022-23 on a range of costs which could include:</p>

<ul class="list-left">
  <li>Piloting a new project</li>
  <li>Running costs for a programme of activities</li>
  <li>Purchasing equipment and materials</li>
</ul>

<h4 class="text-left">Grants for 3 years</h4>
<p class="text-left">We recognise how important it is for groups to be able to plan
   for the future and that having secure funding can give you the confidence and reassurance
   to develop your projects over the long-term. We will award at least one successful applicant
   up to £5,000 a year for three years (2022-25). Continued funding will be subject to satisfactory
   performance each year. To be considered for this three-year grant please complete the additional
   section of the application form indicating how you plan to develop your project over this period.</p>
<img class="image" id="participatory" src="static/Participatory-grantmaking.jpg" alt="participatory"></img>

 <h4 class="text-left">What is Participatory Grant-Making?</h4>
 <p class="text-left">Participatory grant-making is about devolving grant making decisions to the local
   community. It enables local people to decide how best to address local issues by choosing to support
   initiatives that best demonstrate effective solutions to the problems facing communities in Gwent. </p>
 <p class="text-left">The event is run in partnership with the Office of the Police and Crime Commissioner for Gwent.</p>
 <p class="text-left">Shortlisted applicants will be invited to attend our annual grant making event on 19th February 2022.
   The 2022 event will be held ina location in Torfaen County. Please make sure a representativefrom your organisation is
   available at this date before applying.</p>

<img class="image" id="children" src="static/children.jfif" alt="children"></img>
<h2>Who can apply?</h2>
<p class="text-left">The Fund will be used to support projects for children and young people up to the age of 25.</p>
<p class="text-left">The Fund is open to community groups, voluntary organisations and local charities in Gwent
  (the local authority areas of Newport, Blaenau Gwent, Torfaen, Monmouthshire and Caerphilly).
  There is a preference for grassroots organisations where volunteers play a key role in project delivery.</p>
<p class="text-left">Projects that havepreviously received funding willbe considered. Such projects should demonstrate how
  continued funding will help them to consolidate or improve the impact of the project. <a id="a1">There is no longer
  a requirement for a 2 year break after 3 years of continuous grant funding.</a></p>
<ul class="list-left">
  <p>All applicants must:</p>
  <li>Have a group/organisation bank account, as awards cannot be made to individuals or personal bank accounts</li>
  <li>Be properly constituted (although not necessarily a registeredcharity)</li>
  <li>Be able to supply their latest audited annual accounts, or, at the very least, evidence of recent income and expenditure</li>
</ul>

<h2>How to apply?</h2>
<p class="text-left">All groups must complete an online application form, which can be accessed via our website by the <a id="a2">6th of December 2021<a>
- <a href="/Application">Click here</a></p>
<ul class="list-left">
  <p>Please note:</p>
  <li>Grants will not be awarded retrospectively i.e. for costs already incurred prior to receipt of the grant
    offer letter and signed terms and conditions.</li>
  <li>Applicants must be able to demonstrate the financial/social need the grant will address.</li>
</ul>

{% endblock %}
